{#
Accessible input demo

Usage example:

{% include "components/input" with {
    label: "Enter your greeting",
    value: "Welcome to componentville",
    error: "",
    isDisabled: false,
    isRequired: false,
} %}

#}

<div class="input {{ error ? 'input-has-error' }}{{ isDisabled|default ? ' input-is-disabled' }}">
    <label for="input-field" class="input-label">
        {{ label|default('No label specified') }}{{ isRequired|default ? ' *' }}
    </label>
    <input id="input-field" class="input-field" value="{{ value }}" type="text"{{ error|default|length > 0 ? ' aria-invalid="true"' }}{{ error|default ? ' aria-describedby="input-error-message"' }}{{ isDisabled|default ? ' disabled' }}{{ isRequired|default ? ' required' }} />
    {% if error|default %}<div id="input-error-message" class="input-error-message">{{ error }}</div>{% endif %}
</div>